body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: black 1px solid;
    width: 500px;
    height: 500px;
}

.inputText{  
    display: flex;
    align-items: center;
    justify-content: center;

  
    

}
#txtColor{
    
}